WECHAT_APP_ID=
WECHAT_APP_SECRET=
CREDENTIALS_ENCRYPTION_KEY=
ADMIN_USERNAME=
ADMIN_PASSWORD=
DATABASE_PATH=/data/uploader.sqlite3
MAX_SOURCE_BYTES=30000000
ARTICLE_MAX_BYTES=1000000
PERMANENT_MAX_BYTES=10000000
ARTICLE_MAX_DIMENSION=2000
PUBLIC_BASE_URL=
TEMP_STORAGE_PATH=/data/temp-images
TEMP_MAX_BYTES=1000000
TEMP_STORAGE_MAX_BYTES=5000000000
TEMP_USER_STORAGE_MAX_BYTES=500000000
TEMP_RETENTION_DAYS=30
TEMP_CLEANUP_INTERVAL_SECONDS=3600
MAX_USERS=100
MAX_ACCOUNTS_PER_USER=20
